.App{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #2876db;
  flex-direction: column;
  color: #ffffff;
}

button{
  width: 200px;
  height: 45px;
  padding: 10px;
  background-color: rgba(18, 138, 102, 0.993);
  color: white;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.count{
  font-size: 60px;
}

